<!DOCTYPE html>
<html>
<head>
	<title>Shop</title>
</head>
<body>
	<p>Halaman Dashboard Admin</p>
	<% if user_signed_in? %>
	<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	<% end %>
</body>
</html>
